# =========================
# use python 3.11 version to create venv -> command -> "py -3.11 -m venv venv" then install the packages
# =========================
fastapi==0.111.0
uvicorn[standard]==0.30.1

# =========================
# AST & Static Analysis
# =========================
tree-sitter==0.20.4
tree-sitter-languages==1.7.0

# =========================
# Graph & DAG Processing
# =========================
networkx==3.3

# =========================
# Utilities
# =========================
pydantic==2.7.1
python-dotenv==1.0.1

# =========================
# Optional (GitHub repo cloning later)
# =========================
GitPython==3.1.43
requests==2.32.3
